:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    padding-top: 3px;
}
body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    
    padding-left :10px;
    padding-right: 10px ;
    padding-bottom: 10px;
}
.right{
    width: 75vw;
    position: relative;
}
.home ul li {
    display:flex;
    gap :15px;
    width:24px ;
    list-style: none;
    padding:8px 16px;
}
.home{
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    padding-top: 20px;
}
.heading{
    display:flex;
    gap :15px;
    width:100% ;
    padding: 8px 16px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #a7a7a7;
    align-items: center;
    border-radius: 8px;
}
.library{
    min-height: 70vh;
    position: relative;
    border-radius: 8px;
}
.heading img{
    width: 20px;
}
.footer{
    display: flex;
    font-size: 11px;
    position: absolute;
    bottom: 25px;
    padding: 12px 36px;
    gap: 13px;
    border-radius: 10px;
    padding-bottom: 30px;

}
.footer a{
    color: #a7a7a7;
}
.right{
    margin: 16 0px;
    margin-right: 10px;
    border-radius: 8px;
}
.header{
    
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.header > *{

    padding: 20px;
}

.spotifyplaylists{
    padding-top: 20px;
    margin: 20px;
}
.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 4px;
    overflow-y: scroll;
    max-height: 65vh;
    max-width: 300vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    background-color: #1b1a1a;
    position: relative;
    transition: all .9s;
    --a: 1;
}
.card:hover{
    background-color: rgb(62, 61, 61);
    cursor: pointer;
    --a: 1;
}
.card img{
    width: 100%;
    object-fit: contain;
    
}
.card > *{
    padding-top: 10px;
}
.play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 160px;
    right: 15px;
    opacity: 0; 
    transition: opacity 0.5s ease-out; 
}

.play:hover {
    opacity: 1; 
}


.signinbtn{
    background-color: #171717 ;
    color: rgb(123, 117, 117);
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.buttons >*{
    margin: 0 12px;
}
.signinbtn:hover{
    font-size: 17px;
    color: white;

}
.loginbtn{
    background-color: white ;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 95px;
    font-size: 16px;
}
.loginbtn:hover{

font-weight: bold;
   padding: 12px;

}
.playbar{
    
    height: 75px;
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
   
    
}

.playbuttons {
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 35px;
    padding-bottom: 15px;
    
}
.songList{
    height: 400px;
    overflow: auto;
    margin: 30px 0;
}
.songList ul {
    padding: 0 12px;
    
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 13px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    align-items: center;
    width: 94%;
    height: 5%;
    background-color: #242424;
    
}
.songList .info {
    font-size: 14px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.playnow span {
    display: flex;
    font-size: 14px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: white;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
    
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
    
}
.playbuttons{
    cursor: pointer;
}
.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


.songinfo {
    color: white;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    color: white;
    padding: 0 12px;
}
.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    
}
@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
}
