.border{
    border:2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-centre{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.p-1{
    padding: 15px;
}
.roundend{
    margin: 7px;
}
.m-1{
    margin: 5px;
}
/* Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #666; /* Thumb color */
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Thumb color on hover */
  }
  
  /* Firefox */
  html {
    scrollbar-color: #666 ; /* Thumb and track colors */
  }
  
  /* Edge */
  body {
    scrollbar-color: #666 ; /* Thumb and track colors */
  }
  